* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(203, 223, 220);
}


header {
    width: 100%;
    /* height: 150px; */
    color: rgb(60, 57, 57);
    /* background-color:rgb(146, 152, 157); */
    /* padding-left: 7%; */
}
/* set the navigation links to display on the same line and justified to the right */
nav ul{
    list-style: none;
    display:flex;
    justify-content: flex-end; /*check if ok to use*/
    margin: 0;
    padding: 0;
    /* padding-top: 10px; */
}
nav li{
    margin: 0 2px;
}
/* remove the underline from the links and set the color*/
nav a{
    text-decoration:none;
    color: #5a5656;
    /* display: block; */
    padding: 2px;
}

.profile-img {
    height: 150px;
    display: flex;
    /* set a rounded border */
    border-radius: 50px;
}

h2{
    text-align:center;
}

h3{
    text-align: center;
}

/* .work{
    display: flex;
} */

.projects{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.project-item {
    background-color:rgb(173, 169, 165);
    text-align:center;
    height: 120px;
    max-width: 120px;
    border: 1px solid black;
    padding:20px;
    margin:10px;
    /* flex-direction: row; 
    flex-wrap: wrap;  */
}

footer nav {
    text-align: center;
    position: rabsolute;
    bottom: 2%;
    width: 100%;
}